<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dengweixiong.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sailfish"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity android:name="com.example.dengweixiong.Activity.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.dengweixiong.Activity.MainActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Login.RegistAdministraotrActivity" />
        <activity
            android:name="com.example.dengweixiong.Activity.Course.AddNewCourseActivity"
            android:exported="true" />
        <activity android:name="com.example.dengweixiong.Activity.Course.AddNewCoursePlanActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.AddNewMemberActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.MemberListActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.MemberDetailActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.ResetMemberPwdActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Message.MessageListActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.AddNewMemberCardActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.MemberCardListActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.MemberCardDetailActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.ChargeActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Member.DeductionActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Course.CourseDetailActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Card.CardTypeListActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Card.AddNewCardActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Card.CardDetailActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Classroom.ClassroomListActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Classroom.ClassroomDetailActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Classroom.AddNewClassroomActivity" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Shopmember.ShopmemberListActivity" />
        <activity
            android:name="com.example.dengweixiong.Activity.Profile.Shopmember.ShopmemberDetailActivity"
            android:label="@string/title_activity_shopmember_detail"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.dengweixiong.Activity.Profile.Shopmember.AddNewShopmemberActivity"></activity>
    </application>

</manifest>