<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.institutionmanage.sailfish">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logohdpi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logohdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Shopmember.Main.ShopmemberMainActivity" />
        <activity android:name=".Login.RegistAdministraotrActivity" />
        <activity android:name=".Shopmember.Course.Course.AddCourseActivity" android:exported="true" />
        <activity android:name=".Shopmember.Course.CoursePlan.AddCoursePlanActivity" />
        <activity android:name=".Shopmember.Member.AddNewMemberActivity" />
        <activity android:name=".Shopmember.Member.MemberListActivity" />
        <activity android:name=".Shopmember.Member.MemberDetailActivity" />
        <activity android:name=".Shopmember.Member.ResetMemberPwdActivity" />
        <activity android:name=".Shopmember.Message.MessageListActivity" />
        <activity android:name=".Shopmember.MemberCard.AddNewMemberCardActivity" />
        <activity android:name=".Shopmember.MemberCard.MemberCardListActivity" />
        <activity android:name=".Shopmember.MemberCard.MemberCardDetailActivity" />
        <activity android:name=".Shopmember.MemberCard.ChargeActivity" />
        <activity android:name=".Shopmember.MemberCard.DeductionActivity" />
        <activity android:name=".Shopmember.Course.Course.CourseDetailActivity" />
        <activity android:name=".Shopmember.Profile.Card.CardTypeListActivity" />
        <activity android:name=".Shopmember.Profile.Card.AddNewCardActivity" />
        <activity android:name=".Shopmember.Profile.Card.CardDetailActivity" />
        <activity android:name=".Shopmember.Profile.Classroom.ClassroomListActivity" />
        <activity android:name=".Shopmember.Profile.Classroom.ClassroomDetailActivity" />
        <activity android:name=".Shopmember.Profile.Classroom.AddNewClassroomActivity" />
        <activity android:name=".Shopmember.Profile.Shopmember.ShopmemberListActivity" />
        <activity android:name=".Shopmember.Profile.Shopmember.ShopmemberDetailActivity" />
        <activity android:name=".Shopmember.Profile.Shopmember.AddNewShopmemberActivity" />
        <activity android:name=".Shopmember.Course.Course.AddSupportedCardActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.CoursePlanDetailActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.AddCoursePlanTeacherActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.CoursePlanDetailPrivateActivity" />
        <activity android:name=".Shopmember.Profile.HelpActivity" />
        <activity android:name=".Shopmember.Profile.Shopmember.ResetShopmemberPasswordActivity" />
        <activity android:name=".Shopmember.Profile.ShopConfigActivity" />
        <activity android:name=".Member.Main.MemberMainActivity" />
        <activity android:name=".Member.Discovery.Course.MCourseListActivity" />
        <activity android:name=".Member.Discovery.Course.MCourseDetailActivity" />
        <activity android:name=".Member.Discovery.Course.MCourseDetailPrivateActivity" />
        <activity android:name=".Member.Discovery.CoursePlan.MCoursePlanListActivity" />
        <activity android:name=".Member.Discovery.CoursePlan.MCoursePlanDetailPrivateActivity" />
        <activity android:name=".Member.Discovery.CoursePlan.MCoursePlanDetailActivity" />
        <activity android:name=".Member.Profile.MemberCard.MMemberCardListActivity" />
        <activity android:name=".Member.Profile.MemberCard.MMemberCardDetailActivity" />
        <activity android:name=".Member.Book.MBookDetailActivity" />
        <activity android:name=".Member.Book.MBookDetailPrivateActivity" />
        <activity android:name=".Member.Profile.MyProfile.MMemberDetailActivity" />
        <activity android:name=".Member.Profile.MyProfile.MResetMemberPwdActivity" />
        <activity android:name=".Member.Profile.MemberCard.MMemberCardConsumeLogActivity" />
        <activity android:name=".Shopmember.Profile.ShopInfoActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.CoursePlanListActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.CoursePlanBookAndAttendActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.Batch.AddCoursePlanBatchActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.Batch.AddCoursePlanBatchDateActivity" />
        <activity android:name=".Shopmember.Course.CoursePlan.Batch.AddCoursePlanBatchTeacherActivity" />
    </application>

</manifest>